/*
 * All Css
 * @authors YiMiXia.com (7687849@qq.com)
 * @date    2014-08-06 11:02:12
 * @version zjb 5.0
html,body{ height: 100%; overflow: hidden;}
 */
body{font:12px "microsoft yahei",Arial,Verdana,Tahoma,"宋体";}
a{text-decoration:none;color:#333333;/*-webkit-transition:all .3s;-webkit-transition: all 0.6s ease-out;*/}
a:hover{text-decoration:none; color:#333333;/*-webkit-transform: rotate(360deg) scale(1.3);*/}
.JJ{-webkit-transition:all .3s;}
.fl{float:left;}.fr{float:right;}

.clear {clear:both; *display:inline;/*IE only*/}
.clearfix:after {content: "\0020";display: block;height: 0;clear: both;}
.clearfix {_zoom: 1;}
*+html .clearfix {overflow:auto;}
*{ box-sizing:border-box; }
 
 
html{overflow: hidden;}
body{background: none; -webkit-user-select: none;}
a{text-decoration:none;-webkit-transition:all .3s;}
a:hover,a:active{text-decoration:none;}
/*a,a:hover,a:active,a:visited { color: #333;}*/
.dropdown .dropdown-menu a{ display: block; text-align: left;}
.br_no{white-space:nowrap;word-break: keep-all;}
.br_yes{table-layout: fixed;word-break: break-all;word-wrap: break-word;white-space: normal;}
.br_y{word-wrap: break-word; word-break: normal;}
/*浏览器滚动条*/
::-webkit-scrollbar{width:10px;height:0}
::-webkit-scrollbar-button:vertical{display:none}
::-webkit-scrollbar-track:vertical{background-color:black}
::-webkit-scrollbar-track-piece{background:#FFF;}
::-webkit-scrollbar-thumb:vertical{background-color:rgba(0,0,0,0.1);border-radius:30px;}
::-webkit-scrollbar-thumb:vertical:hover{background-color:rgba(0,0,0,0.5);}
::-webkit-scrollbar-corner:vertical{background-color:#535353;}
::-webkit-scrollbar-resizer:vertical{background-color:#FF6E00;}


/* 字体图标 */
@font-face {font-family: 'iconfont';
    src: url('icon/iconfont.eot'); /* IE9*/
    src: url('icon/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('icon/iconfont.woff') format('woff'), /* chrome、firefox */
    url('icon/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('icon/iconfont.svg#uxiconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
font-family:"iconfont" !important;
font-size:16px;
font-style:normal;
-webkit-font-smoothing: antialiased;
-webkit-text-stroke-width: 0.2px;
-moz-osx-font-smoothing: grayscale;
}
.iconfontbold{ font-weight: bold;}
.icon-web:before { content: "\f0029"; }
.icon-qq:before { content: "\e64f"; }
.icon-hxtel:before { content: "\e628"; }
.icon-message:before { content: "\e615"; }

.miniwidth{white-space:nowrap;word-break: keep-all; text-align:center;}
table.nobr th,table.nobr td{white-space:nowrap;word-break: keep-all;}
.titlebar{-webkit-app-region:drag;}
.nobar{-webkit-app-region:no-drag;z-index: 9999}

/* bootstrap 样式修改 */

.bs-callout{padding:20px;margin:20px 0;border:1px solid #eee;border-left-width:5px;border-radius:3px}
.bs-callout h4{margin-top:0;margin-bottom:5px}
.bs-callout p:last-child{margin-bottom:0}
.bs-callout code{border-radius:3px}
.bs-callout+.bs-callout{margin-top:-5px}
.bs-callout-danger{border-left-color:#d9534f}
.bs-callout-danger h4{color:#d9534f}
.bs-callout-warning{border-left-color:#f0ad4e}
.bs-callout-warning h4{color:#f0ad4e}
.bs-callout-info{border-left-color:#5bc0de}
.bs-callout-info h4{color:#5bc0de}
.bs-callout-primary {border-left-color:#3071a9}
.bs-callout-primary h4{color:#3071a9}
.bs-callout-success {border-left-color:#5cb85c}
.bs-callout-success h4{color:#5cb85c}

/* 列表点击之后变色
// 这里是几份测试数据
1 67B8FD
2 4AABFD
3 39A4FD
4 278ADD

1 E9E9E9
2 E0E0E0
3 CCCCCC
4 67B8FD

1 E9E9E9
2 E0E0E0
3 CCCCCC
4 67B8FD
*/
.table-hover > thead > tr > th,
.table-hover > tbody > tr > th,
.table-hover > tfoot > tr > th,
.table-hover > thead > tr.curr > td,
.table-hover > tbody > tr.curr > td,
.table-hover > tfoot > tr.curr > td{
    color:#999;
}
.table-striped > tbody > tr.curr:nth-child(odd) > td,
.table-striped > tbody > tr.curr:nth-child(odd) > th {
    color:#999;
}
.table-hover > tbody > tr.curr:hover > td,
.table-hover > tbody > tr.curr:hover > th{
    color:#999;
}
.table-hover > thead > tr > th,
.table-hover > tbody > tr > th,
.table-hover > tfoot > tr > th,
.table-hover > thead > tr.cursor > td,
.table-hover > tbody > tr.cursor > td,
.table-hover > tfoot > tr.cursor > td{
 background:#90CDFF; color:#000;
}
.table-striped > tbody > tr.cursor:nth-child(odd) > td,
.table-striped > tbody > tr.cursor:nth-child(odd) > th {
background-color: #6FBEFF; color:#000;
}
.table-hover > tbody > tr.cursor:hover > td,
.table-hover > tbody > tr.cursor:hover > th{
background-color: #6FBEFF; color:#000;
}

.table-nopadding > thead > tr > th,
.table-nopadding > tbody > tr > th,
.table-nopadding > tfoot > tr > th,
.table-nopadding > thead > tr > td,
.table-nopadding > tbody > tr > td,
.table-nopadding > tfoot > tr > td {padding: 5px 0;}
.table-nopadding > thead > tr > td,
.table-nopadding > tbody > tr > td,
.table-nopadding > tfoot > tr > td {padding: 8px 0;}
.table-minpadding > thead > tr > td,
.table-minpadding > tbody > tr > td,
.table-minpadding > tfoot > tr > td {padding: 3px 0;}

span.null-float{ float: none;}

.dropdown-menu label{ padding: 0 10px; display: block;}
.dropdown-menu label:hover{ background: #EEE;}
.dropdown-menu input[type="checkbox"]{vertical-align: text-top;}
.input-group input.form-control{width: 100%;}
.input-group,.btn-group{float: left; margin-left: 5px;}
.input-group{ width: 130px;}
.input-group-addon{ padding: 6px 6px}
.form-control{ padding: 6px 6px;}
.input-group-select {width: 555px;}
.form-group {margin-bottom: 5px;padding-left: 10px;}
.btn-sm, .btn-group-sm > .btn { padding: 0px;font-size: 12px;line-height: 1.5;border-radius: 3px;}
.btn-sm .btn{ height: 30px; padding:3px 12px;width:60px;}
.btn-sms,.btn-sms .btn{ height: 30px; padding:5px 10px; line-height: 1;}
.btn-sm .form-control{ height: 30px; padding:3px 6px;}
.list table.table>tbody>tr>td{ padding-left: 8; padding-right: 0;}
.input-group-max{ width: 260px;}
.input-group-min{ width: 120px;}
.input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child){border-bottom-right-radius: 4px;border-top-right-radius: 4px;}
.input-group-mt2{ margin-top: -8px;}
.input-group-mt3{ margin-top: -16px;}
.input-group-select{ width: 504px;}
.input-group.input-group-n2{width: 280px;}
.input-group.input-group-n2 input{ width: 50%;}
.input-group-select-n2{ width: 280px;}
.input-group.input-group-select-n2 select{ width: 50%;}
.input-group.input-group-select select{ width: 33%;}
.input-group.input-group-select select.form-control:not(:first-child):not(:last-child){border-radius: 0px; border-right: none;}
.input-group select.form-control{ padding: 6px 6px}
.input-group select.form-control option{ font-weight: bold;}
.input-group.input-group-too { width: 100px;}
.input-group.input-group-too input.form-control{ width: 100%; padding: 6px 4px; text-align: center;}
.input-group.input-group-too .input-group-addon{ padding: 6px 4px; border-radius: 0;}

.btn_group{ margin: 0;}
.btn_group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-left-radius: 0;
}
.btn_group > .btn:last-child:not(:first-child), .btn_group > .dropdown-toggle:not(:first-child) {
border-bottom-right-radius: 0;
}
.btn-default.active{color: #fff;background-color: #428bca;border-color: #357ebd;}
.btn_group .btn{ width: 80.6px;}
.form_group { margin: 0; padding: 0;}
.form_group textarea{ border-radius: 0;}
.form_group .btn{ border-top-left-radius: 0; border-top-right-radius: 0;}

.form-group .form_menu_box{ position: relative;}
.form-group .form_menu_list{ position: absolute; z-index: 99; left:15px; right: 16px;  display:none;overflow-y: auto; max-height: 120px; background-color: #FFF; border:1px solid #09F; border-radius: 5px; box-shadow: 0 0 10px #09F; border-top:none;}
.form-group .form_menu_list ul{ padding:0;margin:0;}
.form-group .form_menu_list a{ height: 100%; width: 100%; display: block;}

.form_label_right .control-label, .form_label_right .radio, .form_label_right .checkbox, .form_label_right .radio-inline, .form_label_right .checkbox-inline {
padding-top: 7px;margin-top: 0;margin-bottom: 0;text-align: right;}
.btn-group.open .dropdown-toggle {box-shadow:none;}

.dropdown-menu{white-space:nowrap;word-break: keep-all;min-width:initial;}

ul.pagination.ymx_page{ margin:0;height: 34px;display: block;}
ul.pagination.ymx_page > li > a{ border-top: none; border-bottom: none;}
ul.pagination.ymx_page > li:first-child > a, 
ul.pagination.ymx_page > li:first-child > span {border-top-left-radius: 0px;border-bottom-left-radius: 0px;border-left: none;}
ul.pagination.ymx_page > li:last-child > a, 
ul.pagination.ymx_page > li:last-child > span {border-top-right-radius: 0px;border-bottom-right-radius: 0px;}










a{text-decoration:none;-webkit-transition:all .1s;}
a:hover,a:active{text-decoration:none;}
a,a:hover,a:active,a:visited { color: #333; cursor: pointer;}
body{ background: #F3F3F3; font-family: 'Microsoft YaHei', "hiragino sans gb",'黑体','宋体', Arial, Lucida Grande, Tahoma, sans-serif;}
.header{ position: fixed;top: 0;z-index: 99999;width: 100%;height: 60px;background: rgba(255,255,255,0.98);-webkit-box-shadow: 0 0 3px 0px rgba(0,0,0,.2);box-shadow: 0 0 3px 0px rgba(0,0,0,.2);-moz-transition: all .3s ease;-webkit-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease; }
.header ul {margin: 0;}
.header ul li {float: left;margin-left: 20px;position: relative;}
.header ul li a {display: block;-moz-transition: all .3s ease;-webkit-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease;font-size: 16px;line-height: 60px;height: 60px;border-bottom: 3px transparent solid;margin-bottom: -3px;padding: 0 10px;text-decoration: none;color: #999;text-align: center;}
.header ul li a:hover,
.header ul li a:active,
.header ul li a.checked{color: #277DC1;border-color: #277DC1;}

.bodys{ width: 90%; min-height: 500px; margin:100px auto 0; background: #FFF; }
.bodys_text {padding: 40px 60px 80px 60px;}
.bodys_text h1 { padding-bottom: 0px;}
.bodys_text h2 { padding-bottom: 0px;}
.bodys_tab{ margin: 0; }
.bodys_tab a{ padding:14px 0 12px; font-weight: 100; text-align: center; border-bottom: 1px solid #EEE; border-right: 1px solid #EEE; font-size: 20px; }
.bodys_tab a:hover,
.bodys_tab a.hover{ padding-bottom: 10px; border-bottom-color: #277DC1; border-bottom-width:3px;color: #277DC1;  }
.list_box{ font-size: 18px; }
.list_box li{ padding:3px 0; line-height: 34px; border-bottom: 1px solid #F6F6F6;}
.list_box li:first-child{ border-top: 1px solid #F6F6F6; }







strong{ font-weight: normal; }
input{outline: none;}

/* loginbox */
.form-ul li{ margin-bottom: 15px; position: relative;}
.form-ul li:after {content: "\0020";display: block;clear: both;}
.form-loo{ display: block; border: 1px solid #CCC; background: #FFF; }
.form-loo .input-label{display: inline-block; width: 30px; text-align: right; }
.form-loo input.input{border: none; background: #FFF; font-size: 14px; height: 36px; line-height: 36px; padding: 0px 10px; width: 229px;}
.form-ul li.bortop{ border-top: 1px solid #EFEFEF; padding-top: 15px;}


/* regbox */
.form-section{ position: relative; display: block; border: 1px solid #CCC; background: #FFF;}
.form-section .input-label{position: absolute;left: 12px;top: 11px;z-index: 2;padding: 0 3px;font-size: 14px;line-height: 18px;color: #b0b0b0;background: transparent;cursor: text;-webkit-transition: all 0.2s linear;transition: all 0.2s linear;white-space:nowrap; width: auto;}
.form-section span.tip,
.form-loo span.tip{position: absolute;right: 5px;line-height: 36px;color: #999; font-size: 12px; color: #FFF;}
.form-section span.tip sup,.form-loo span.tip sup{ vertical-align: super;}
.form-section input.input{border: none; background: #FFF; font-size: 14px; height: 36px; line-height: 36px; padding: 5px 15px; width: 100%;}
.form-section textarea.input{ height: auto; width: 100%; border: none;resize: none;padding: 10px 16px; margin-top: 5px;}
.form-section select.input{ height: auto; width: 100%; border: none; background: #FFF; font-size: 14px; height: 36px; line-height: 36px; padding: 5px 15px; }
.form-section.curr select.input{ padding: 5px 15px 5px 50px;}

.form-section.tow input.input{ width: 50%;}
.form-section.tow a.btn{ width: 30%; float: right; height: 36px; line-height: 36px; font-size: 14px;}
.form-section .code{color: #4C8EFF;}
.form-section .code.out{ color: #999;}

 .form-section-tow.one{ margin-right: 4%}
 .form-section-tow{ width:48%; float: left; }
 .form-section-tow.w1{ width: 8%;}
 .form-section-tow.w2{ width: 18%;}
 .form-section-tow.w3{ width: 28%;}
 .form-section-tow.w4{ width: 38%;}
 .form-section-tow.w5{ width: 48%;}
 .form-section-tow.w6{ width: 58%;}
 .form-section-tow.w7{ width: 68%;}
 .form-section-tow.w8{ width: 78%;}
 .form-section-tow.w9{ width: 88%;}
 .form-section-tow.w10{ width: 100%;}

/* placeholder */
.form-section .placeholder::-webkit-input-placeholder { color:#FFF; }
.form-section .placeholder::-moz-placeholder { color:#FFF; }
.form-section .placeholder:-ms-input-placeholder { color:#FFF; }
/* placeholder end */

.form-active.hover{ border-color: #AAA;}
.form-active.focus { border-color: #09F;}
.form-active.focus  .input-label{ border-color: #09F; color: #09F;}
.form-active.active .input-label{ top: -10px;background: #FFF;}

.form-loo.active span.tip,
.form-active.active span.tip{ color: #CCC; }
.form-loo.hover span.tip,
.form-active.hover span.tip{ color: #999;}
.form-loo.focus span.tip,
.form-active.focus span.tip{ color: #09F; }

/* placeholder active */
.form-active.active .input::-webkit-input-placeholder { color:#CCC; -webkit-transition: all 0.4s linear;transition: all 0.4s linear;}
.form-active.active .input::-moz-placeholder { color:#CCC; -webkit-transition: all 0.4s linear;transition: all 0.4s linear;}
.form-active.active .input:-ms-input-placeholder { color:#CCC; -webkit-transition: all 0.4s linear;transition: all 0.4s linear;}
/* placeholder active end */
/* regbox end */


.form-loo input.input{vertical-align: middle; width: auto;}

body .form-section input.input{ *padding: 0px; *width: 95%; *padding-left: 5%;}
body .form-section select.input{ *padding: 0px; *width: 100%; }
body .form-section textarea.input{ *padding: 0px; *width: 90%; *padding-left: 5%; * padding-right: 5%;}
body .form-loo input.input{*width: 70%;}
/* placeholder active end */
/* regbox end */














