<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<httpErrors existingResponse="PassThrough" errorMode="Detailed" />
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="/">
                    <add key="/" value="/new-house/admin/login.jsp" />
                </rewriteMap>
            </rewriteMaps>

			<rules>
				<rule name="重定向规则1 对于 /">
					<match url=".*" />
					<conditions>
						<add input="{/:{REQUEST_URI}}" pattern="(.+)" />
					</conditions>
					<action type="Redirect" url="{C:1}" appendQueryString="false" />
				</rule>
			</rules>
			
        </rewrite>
    </system.webServer>
	<system.web>
	<customErrors mode="On" />
        <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
	</system.web>
</configuration>
